<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="InfoTrack.NaqelAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>




    <add name="ERPCourierSEConnectionString"
     connectionString="Data Source=10.1.8.86;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=appuserlogin;Password=Ap|o()$er@123"
     providerName="System.Data.SqlClient"/>
    <add name="DapperConnectionString"
			   connectionString="Data Source=10.1.8.86;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=appuserlogin;Password=Ap|o()$er@123"
			   providerName="System.Data.SqlClient"/>
    <add name="DefaultsConnectionString"
			   connectionString="Data Source=10.1.8.86;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=appuserlogin;Password=Ap|o()$er@123"
			   providerName="System.Data.SqlClient"/>

    <add name="TrackingConnectionString"
			   connectionString="Data Source=10.1.8.86;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=appuserlogin;Password=Ap|o()$er@123"
			   providerName="System.Data.SqlClient"/>




    <!--<add name="ERPCourierSEConnectionString"
     connectionString="Data Source=10.1.8.86;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=appuserlogin;Password=Ap|o()$er@123"
     providerName="System.Data.SqlClient"/>
    <add name="DapperConnectionString"
			   connectionString="Data Source=10.1.8.86;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=appuserlogin;Password=Ap|o()$er@123"
			   providerName="System.Data.SqlClient"/>
    <add name="DefaultsConnectionString"
			   connectionString="Data Source=10.1.8.86;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=appuserlogin;Password=Ap|o()$er@123"
			   providerName="System.Data.SqlClient"/>

    <add name="TrackingConnectionString"
			   connectionString="Data Source=10.1.8.118;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=Applogin;Password=Appuser@123"
			   providerName="System.Data.SqlClient"/>-->



    <!--<add name="ERPCourierSEConnectionString" connectionString="Data Source=212.107.118.75;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=sadev;Password=InfoTrack@DEV" providerName="System.Data.SqlClient" />
    <add name="DapperConnectionString" connectionString="Data Source=212.107.118.75;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=sadev;Password=InfoTrack@DEV" providerName="System.Data.SqlClient" />
    <add name="DefaultsConnectionString" connectionString="Data Source=212.107.118.75;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=sadev;Password=InfoTrack@DEV" providerName="System.Data.SqlClient" />

    <add name="TrackingConnectionString" connectionString="Data Source=88.85.240.27;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=erpnaqel_read;Password=InfoTrack@2020" providerName="System.Data.SqlClient" />
    <add name="SecDefaultsConnectionString" connectionString="Data Source=212.93.160.152;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=sa_logShipper;Password=InfoTrack@DB3" providerName="System.Data.SqlClient" />-->





  </connectionStrings>

	<appSettings>
		<add key="DBName" value="demo2" />
		<add key="NoCheckRefNoClientIDs" value="9017951,9017061,9017218,9018426,9018427,9018892, 9019266,9019273,9020922,9020923,9020924,9020925,9020926,9020969,9020970,9020971,9021103,9021136,9021160,9019267,9019408,9019265,9019294,9021185,9019115,9018498,9021625,9018772,9018846,9020281,9020282,9023171,9023172,9023540,9020985,9021032,9019724,9019725,9021620,9023046,9023048,9000077" />
		<add key="ParentChildClientIDs" value="9019722,9019723,9019724,9019725,9021620,9023046" />
		<add key="CheckPickupList" value="9020077,9020985,9018919" />
		<add key="CheckASRDetailList" value="9019294,9021198" />
		<add key="OptionalConsigneeNationalIDList" value="9018737,9018772,9020282,9018498,9020281,9021625,9022644,9019115,9023039,9025811" />
		<add key="CheckAsrOriginWB" value="9019655,9019656" />
		<add key="AccessType" value="WindowApplication" />
		<add key="ClientIDWithCODOnly" value="9020040" />
		<add key="INTB2BLoadtypeIDs" value="237,238" />
		<add key="CountrywithCOD" value="0" />
		<add key="ClientIDWithQR" value="9019115,9025811" />
		<add key="TraceRTObyOriginal" value="9019115,9025811" />
		<add key="TrackingWithRTO" value="9019912,9019491,9020044" />
		<add key="AcceptedComplaintSubTypeIDs" value="1,2,3,4,5,8,9,11,12,13,15,17,18,26" />
		<add key="Optional_HS_code" value="9019115,9023039,9020077,9024014,9025811" />
		<add key="HSCode_Validation" value="0" />
		<add key="ASREarliestAndLatestPickupHour" value="3,20" />
		<add key="TrackingWithTZ" value="9019912,9019491,9017968, 9020114" />
		<add key="ShippingByAir" value="9018772" />
		<add key="ShippingByRoad" value="9018498" />
		<add key="B2BLoadtypeIDs" value="116,181,183" />
		<add key="Sticker_NoPhoneNo" value="0" />
		<add key="ClientIDWithDomAsrDV" value="9020077,9019491" />
		<!--<add key="DBName" value="ERPNaqel" />
		<add key="AccessType" value="WebApplication" />-->
		<add key="PublishType" value="Live" />
		<add key="DeclareValueNoMinLimitValidation" value="9020077,9019724,9019168,9021900,9019115,9018737,9019755,9024439,9025089,9025811" />
		<add key="ParentClientIDNeedLiveTracking" value="9017968,9017951,9017061,9017218,9018426,9018427,9018892,9019266,9019273,9020922,9020923,9020924,9020925,9020926,9020969,9020970,9020971,9021103,9021136,9021160,9019267" />
		<add key="CourierLoadTypes" value="34,36,56,65,66,136,117,163,204,184" />
		<add key="ASRLoadTypes" value="66,136,204,206,284" />
		<add key="INTASRLoadTypes" value="136,206" />
		<add key="DomASRLoadTypes" value="66,204,284" />
		<add key="FedexAccount" value="9020077, 9031525, 9031926" />
		<add key="FedexAccountROD" value="9020077, 9031525, 9031926" />
		<add key="FedexInboundLoadType" value="36" />
		<add key ="DocumentLoadTypeIDs" value="33" />
		<add key="FedexOutboundLoadType" value="116" />
		<add key="SheinASRClientIDs" value="9020077" />
		<add key="FirstCryAcc" value="9022565,9023826,9024439,9025089" />
		<add key="DDUDefault" value="9021604" />
		<add key="SplClientID" value="9027665,9026333,9031592,9020077" />
		<add key="AsrPLLoadTypes" value="325" />
		<add key="DropOffASRLoadTypes" value="204,206" />
		<add key="FASTCOOSwap" value="9023840,9024044" />
		<add key="NeedBooking" value="9020077" />
		


  </appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		<customErrors mode="Off" />
		<webServices>
			<protocols>
				<add name="HttpPost" />
				<add name="HttpGet" />
			</protocols>
		</webServices>
		<!--<compilation debug="true" targetFramework="4.5.2"/>-->
		<!--<authentication mode="None" />-->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
		<compilation debug="false" targetFramework="4.5.2" />
		<httpRuntime maxRequestLength="4096" executionTimeout="60" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v4.0" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<!-- Enable Cross Domain AJAX calls -->
				<remove name="Access-Control-Allow-Origin" />
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
		<directoryBrowse enabled="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="20000000" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="mexBehavior" name="InfoTrack.NaqelAPI.WCFRouteOptimization">
				<endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
				<endpoint address="../WCFRouteOptimization.svc" behaviorConfiguration="webEndPoint" binding="webHttpBinding" contract="InfoTrack.NaqelAPI.IWCFRouteOptimization" />
				<!--<endpoint address="../WCFRouteOptimization.svc" binding="webHttpBinding" contract="InfoTrack.NaqelAPI.IWCFRouteOptimization" behaviorConfiguration="webEndPoint" bindingConfiguration="NaqelBinding">
        </endpoint>-->
			</service>
			<!--<service behaviorConfiguration="mexBehavior" name="InfoTrack.NaqelAPI.WCFIPhone">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <endpoint address="../WCFIPhone.svc" behaviorConfiguration="webEndPoint" binding="webHttpBinding" contract="InfoTrack.NaqelAPI.IWCFIPhone" />
      </service>-->
		</services>
		<!--<bindings>
      <webHttpBinding>
        <binding name="NaqelBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1500000000" maxBufferPoolSize="1500000000" maxReceivedMessageSize="1500000000" transferMode="Streamed">
          <readerQuotas maxStringContentLength="1500000000" maxArrayLength="1500000000" maxBytesPerRead="1500000000" maxNameTableCharCount="1500000000" />
        </binding>
      </webHttpBinding>
    </bindings>-->
		<behaviors>
			<endpointBehaviors>
				<behavior name="webEndPoint">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<applicationSettings>
		<InfoTrack.NaqelAPI.Properties.Settings>
			<setting name="InfoTrack_NaqelAPI_com_naqelexpress_livetrack_GPSService" serializeAs="String">
				<value>http://livetrack.naqelexpress.com/livetracking/Gpsservice.asmx</value>
			</setting>
		</InfoTrack.NaqelAPI.Properties.Settings>
	</applicationSettings>
</configuration>